header {
    width: 100%;
    height: 100px;
    background-image: url(./images/header.jpeg);
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

header h1 {
    /* height: 70px; */
    /* padding-top: 30px; */
    text-align: center
}

.ContactMe-header-container {
    position: fixed;
    padding-bottom: 55px;
    /* margin-bottom: 200px; */
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;;
}

.ContactMe-footer-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
    height: 50px;
    background-color: #333;

}

body {
    background-size: cover;
    background-image: url(./images/sea-edge-79ab30e2.png);
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}

form {
    margin-left: 38px;
}

p {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    border-radius: 20px;
    font-size: larger;
    text-align: center;
}

.columns-div{
    display: flex;
    flex-direction: column;
}

.p-hover:hover {
    transform: scale(1.02);
    transition: all 0.4s ease-in-out;
    background-color: #FF6B9E;
}

.div-hover:hover {
    transform: scale(1.02);
    transition: all 0.4s ease-in-out;
    background-color :#717171;
}

.form-group {
    margin-bottom: 10px;
}

.styled-form {
    max-width: 400px;
    max-height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7e5e5cd;
}

.form-hover:hover {
    transform: scale(1.02);
    transition: all 0.4s ease-in-out;
    background-color: #E7E5E5;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: hsl(303, 70%, 64%);
    transform: scale(1.5);
}

.margin-top{
    margin-top: 200px;
}


.box1 {
    height: 600px;
    width: 700px;
    margin: auto;
    background-color: #717171;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.box2 {
    background-repeat: round;
    background-color: #717171;
    padding: 20px;
    margin: 70px;
    padding-bottom: 50px;
    border-radius: 50px;
}

.body-position{
    margin-top: 400px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6bde;
    color: #333;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.3s ease;
    width: 120px;
}

.button:hover {
    background-color: #ff4f4f;
    transform: scale(1.1);
}


.input {
    border-radius: 7px;
    height: 30px;
    width: 300px;
    margin-top: 10px;
    background-color: #f2d3e2a0;
    display: block;
}

.input-v2 {
    border-radius: 7px;
    margin-top: 10px;
    background-color: #f2d3e2a0;
    display: block;
}