/* Improved product box styling */

body{
    background-color:#282828;
}

.product {
    border: 3px solid #181818; /* Lighter border color */
    padding: 20px;
    margin: 0px 500px 50px 500px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transition: all 0.3s ease-in-out;
    /* Center the content vertically and horizontally */
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #b3b3b3;
}

.product:hover {
    transform: scale(1.03); /* Enlarge on hover for a subtle effect */
    background-color: #717171;
}

.product img {
    max-width: 100%;
    width: 300px; /* Adjust the image size */
    height: auto;
}

.price {
    font-weight: bold;
    color: #333;
    margin: 10px 0; /* Add spacing between price and button */
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth color transition on hover */
}

button:hover {
    background-color: #555; /* Darker background on hover */
}
